*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* CSS cho phần đầu */
#header{
    display: flex;
    padding: 30px;
    background-color: black;
    justify-content: center;
    
}

#menu ul{
    display: flex;
}
#store-name{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 50px;
    margin-top: 5px;
    
}
#store-name a{
    color: white;
}
#menu{
    margin-left: 900px;
    margin-top: 10px;
   
}
#menu a{
    color:white;
    font-size: 17px;
}
#menu a:hover{
   border-bottom: 1px solid white;
   color: darkgray;
}
#menu ul li{
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
}
/* CSS cho phan BODY */

.info{
    /* background-color: darkolivegreen; */
    width: 432px;
    padding: 20px;
}
img{
    width: 911px;
    height: 607px;
}
.img{
    /* background-color: darkturquoise; */
    
    margin-left: 200px;  
}
#info-product{
    display: flex;
    height: 2000px;
}
.brand{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
.name{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}
#sizes{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    border-radius: 2px;
    width: 300px;
    margin-top: 20px;
}
option{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}
button{
    padding: 10px;
    width: 300px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-top: 20px;
}
#footer { 
    background-color: black;
    width: 100%;
    height: 400px;
    display: flex;
  }
  #footer div{
   text-align: center;
   margin-left: 260px;
   margin-top: 100px;
  }
  #footer li a{
    color: grey;
  }
  #footer li{
    color: white;
    margin-top: 15px;
  }
  #followus i {
     margin-right: 9px;
  }
.detail{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
  }
 .detail:first-child{
     margin-top: 10px;
 } 